<%- include("./partials/header-forum") %>
<main>
    <p id="Game"><%= jogo %></p>
    <% if (comentarios.length) { %>
    <ul id="comentarios">
        <% comentarios.forEach(function(comentario) { %>
        <li>
            <div class="comentario">
                <p><%= comentario.Criador %></p>
                <p><%= comentario.Conteudo %></p>
                <p><%= comentario.Data %></p>
            </div>
        </li>
        <% }) %>
    </ul>
    <h3><a href="/new-comment">Adicione um comentário!</a></h3>
    <% } else { %>   
        Sem comentários! <a href="/new-comment">Adicione um comentário!</a>
    <% } %>
</main>
<%- include("./partials/footer") %>