<%- include("./partials/header-forum") %>
<main>
    <p><%= jogo %></p>
    <ul id="comentarios">
        <% comentarios.forEach(function(comentario) { %>
        <li>
            <div class="comentario">
                <p><%= comentario.Criador %></p>
                <p><%= comentario.Conteudo %></p>
                <p><%= comentario.Data %></p>
            </div>
        </li>
        <% }) %>
    </ul>
</main>
<%- include("./partials/footer") %>