<%- include("./partials/header-forum") %>
<main>
    <% if (posts.length) { %>
    <ul id="forumPosts">
        <% posts.forEach(function(post) { %>
        <li>
            <div class="votos">
                <input type="button"/>
                <label><%= post.Votos %></label>
                <input type="button"/>
            </div>
            <div class="post">
                <a href="/posts/<%= post.Nome.replace(/\s+/g, '-').toLowerCase() %>"><%= post.Nome %></a>
                <p><%= post.Conteudo %></p>
            </div>
        </li>
        <% }) %>
    </ul>
    <h3><a href="/new-post">Crie um post!</a></h3>
    <% } else { %>  
        Sem posts! <a href="/new-post">Crie um post!</a>
    <% } %>
</main>
<%- include("./partials/footer") %>