<%- include("./partials/header-forum") %>
<main>
    <p id="Game"><%= jogo %></p>
    <% if (comentarios.length) { %>
        <% comentarios.forEach(function(comentario) { %>
        <article>
            <div class="comment">
                <div class="account-info">
                    <%= comentario.Criador %>
                </div>
                <div class="comment-body">
                    <div class="comment-header">
                        <%= comentario.Data %>
                    </div>
                    <div class="comment-content">
                        <%= comentario.Conteudo %>
                    </div>
                </div>
            </div>
            <div class="comment-buttons">
                <form action="/delete-comment" method="post">
                    <button type="submit" name="btnDelete" class="btnDelete">Delete</button>
                </form>
            </div>
        </article>
        <% }) %>
        <h3><a href="/new-comment">Adicione um comentário!</a></h3>
    <% } else { %>   
        Sem comentários! <a href="/new-comment">Adicione um comentário!</a>
    <% } %>
</main>
<%- include("./partials/footer") %>