<%- include("./partials/header-forum") %>
<main>
    <% if (users.length) { %>
    <ul id="forumPosts">
        <% posts.forEach(function(post) { %>
        <li id="<%= post.Nome %>">
            <div class="votos">
                <form action="/upvote" method="post">
                    <input type="hidden" name="game" value="<%= post.Nome %>">
                    <button type="submit" id="upvote-<%= post.Nome.replace(/\s+/g, '-').toLowerCase() %>"><img></button>
                </form>
                <label><%= post.Votos %></label>
                <form action="/downvote" method="post">
                    <input type="hidden" name="game" value="<%= post.Nome %>">
                    <button type="submit" id="downvote-<%= post.Nome.replace(/\s+/g, '-').toLowerCase() %>"><img></button>
                </form>
            </div>
            <div class="post">
                <a href="/posts/<%= post.Nome.replace(/\s+/g, '-').toLowerCase() %>"><%= post.Nome %></a>
                <p><%= post.Conteudo %></p>
            </div>
        </li>
        <% }) %>
    </ul>
    <h3><a href="/new-post">Crie um post!</a></h3>
    <% } %>  
</main>
<%- include("./partials/footer") %>